<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ByeCal - Iniciar sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='ByeCal.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-container">
    <!-- 🔹 Logo arriba -->
    <img src="{{ url_for('static', filename='ByeCal.ico') }}" alt="Logo ByeCal" class="logo">

    <h2>Iniciar sesión</h2>
    <form method="POST">
        <!-- Correo -->
        <input type="email" name="correo" placeholder="Correo electrónico" required>
        
        <!-- Contraseña -->
        <input type="password" name="password" placeholder="Contraseña" required>
        
        <button type="submit">Ingresar</button>
    </form>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        <p>¿No tienes cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a></p>
    </div>
</body>
</html>